html {
    /* TIPOGRAFÍA */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* IMÁGENES */
.title img {
    width: 100%;
    height: 150px;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.title,
.menu,
.main-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-title {
    color: white;
    background-color: #76323F;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title h1 {
    position: absolute;
    padding: 15px;
    color: rgb(4, 18, 39);
    /* COLORES */
    background-color: #D7CEC7;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu {
    position: sticky;
    top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* COLORES */
    background-color: #D7CEC7;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu a {
    border: 2px solid transparent;
    font-size: 17px;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(4, 18, 39);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s all;
}

.menu a:hover,
.active {
    border: 2px solid #565656;
    /* COLORES */
    background-color: #76323F;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.active {
    /* COLORES */
    background-color: #C09F80;
    color: black;
}

main,
footer {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    /* COLORES */
    background-color: #D7CEC7;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* IMÁGENES */
#proyectos img,
#noticias img {
    width: 90%;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* IMÁGENES */
#galerias img {
    width: 50%;
    border: 2px solid #565656;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}